* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 2rem 100px;
  border-bottom: 1px solid #e2e2e2;
  top: 0;
}

.nav::after {
  overflow: auto;
}

.nav__left * + * {
  margin-left: 20px;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.fa-search {
  font-size: 16px;
}

.nav__left-title {
  color: black;
  font-weight: bold;
}

.logotype {
  width: 195px;
  height: 26.5px;
}

.subscribe {
  border: none;
  background-color: rgb(50, 104, 145);
  color: #fff;
  padding: 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}

.account {
  border: none;
  background-color: transparent;
}

/* Main Content */
.main {
  margin-top: 83px;
  width: 100%;
}

.main-article {
  width: 80%;
  margin: auto;
  padding: 30px 30px;
}

.main-title {
  text-align: left;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  width: 600px;
  margin: auto;
}
.cont-img {
  width: 88%;
  margin: 2.5rem auto 0;
}

.main-figure {
  width: 100%;
}

.caption {
  color: #666666;
  line-height: 20px;
  width: 70%;
  font-size: 15px;
}

.author {
  color: #888888;
  font-size: 13px;
}
.article-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 40px;
  line-height: 1.6rem;
}

article,
.publish-date {
  grid-column: 2;
}

.publish-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-container * + *,
.article-subtitle,
.graphic__title {
  margin-top: 1.2rem;
}

.article-subtitle {
  font-size: 16px;
}

.graphic {
  grid-column: span 3;
  background-color: antiquewhite;
}

.graphic__article-container {
  width: 100%;
}
.middle-container {
  background-color: aqua;
  width: 50%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
}

.article-image {
  width: 100%;
}

.graphic__article > p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1rem;
}
