* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a,
ul,
li {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 2rem 100px;
  border-bottom: 1px solid #e2e2e2;
  top: 0;
}

.nav::after {
  overflow: auto;
}

.nav__left * + * {
  margin-left: 20px;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.fa-search {
  font-size: 16px;
}

.nav__left-title {
  color: black;
  font-weight: bold;
}

.logotype {
  width: 195px;
  height: 26.5px;
}

.subscribe {
  border: none;
  background-color: rgb(50, 104, 145);
  color: #fff;
  padding: 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}

.account {
  border: none;
  background-color: transparent;
}

/* Main Content */
.main {
  margin-top: 83px;
  width: 100%;
}

.main-article {
  width: 80%;
  margin: auto;
  padding: 30px 30px;
}

.main-title {
  text-align: left;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  width: 600px;
  margin: auto;
}
.cont-img {
  width: 88%;
  margin: 2.5rem auto 0;
}

.main-figure {
  width: 100%;
}

.caption {
  color: #666666;
  line-height: 20px;
  width: 70%;
  font-size: 15px;
}

.author {
  color: #888888;
  font-size: 13px;
}

.article-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-top: 40px;
  line-height: 1.6rem;
}

.publish-date,
.article-container {
  grid-column: 2;
  margin-top: 1.2rem;
}

.publish-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-container * + *,
.article-subtitle,
.graphic__title {
  margin-top: 1.2rem;
}

.article-subtitle {
  font-size: 16px;
}

.graphic {
  grid-column: span 3;
  margin-top: 3rem;
}

.graphic__article-container {
  width: 50%;

  padding: 20px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  column-gap: 10px;
}

.article-image {
  width: 150px;
}

.graphic__title {
  font-size: 18px;
}

.graphic__title,
.graphic > p {
  width: 50%;
  margin: 10px auto 0;
}

.by-author {
  grid-column: span 2;
}

.graphic__article > p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1rem;
}

.separator-photo {
  width: 51px;
  margin: 49px 0 13px;
  border: 1px solid #000;
}

.author {
  font-size: 14px;
  color: #000;
}

.video-container {
  grid-column: 2;
  margin-top: 50px;
}

.img-article {
  width: 100%;
}

.author-picture {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

.social-media {
  grid-column: 2;
  margin-top: 25px;
  font-size: 10px;
  line-height: 14px;
}

.subscribe-link {
  color: #666;
  text-decoration: underline;
}

.subscribe-link:not(:last-child) {
  border-right: 1px solid #666;
  padding-right: 5px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.comments-btn {
  background-color: #567b95;
  width: 50%;
  padding: 0.7rem 0;
  color: #fff;
}

.social__list-item i {
  font-size: 20px;
  margin-left: 15px;
}
